* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Cinzel', serif;
  /* font-family: 'Cinzel Decorative', cursive; */
}

header {
  height: auto;
  background-color: black;
}

nav {
  width: 100%;
  height: 72px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid white;
  position: fixed;
  z-index: 1;
}

nav p {
  color: white;
}

ul {
  margin-right: 60px;
  margin-top: 5px;
  /* text-align: right; */
}

li {
  display: inline;
  margin: 40px;

}

a {
  text-decoration: none;
  font-size: 24px;
  /* font-size: 1.5vw; */
  color: white;
}

.piano-1-position {
  padding-top: 72px;
}

.piano-1-image {
  width: 100%;
  height: auto;
}

.title {
  position: absolute;
  color: white;
  font-size: 2.15vw;
  margin-top: 6%;
  margin-left: 7%;

}

.title-2 {
  position: absolute;
  color: white;
  font-size: 5.5vw;
  margin-top: 13%;
  margin-left: 7%;

}

.container {
  display: flex;
}

.left-piano {
  width: 50%;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1.2vw;
  line-height: 1.5;

}

.main-text {
  width: 23vw;
  border-left: 0.3vw solid black;
  padding-left: 1.2vw;
  margin-top: 14%;
  margin-left: 25%;
}

.right-text {
  color: white;
  border-left: 0.3vw solid white;
  width: 25vw;

}

.right-piano {
  width: 50%;
  height: auto;
  background-color: black;
  display: flex;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1.2vw;
  line-height: 1.5;

}

.piano-2-image {
  width: 90%;
  height: auto;
  align-self: center;
}

.piano-3-image {
  width: 100%;
  height: auto;
}

.buy-text {
  color: black;
  font-size: 3.4vw;
  text-align: center;
}

img.arrow {
  width: 2.2vw;
  transform: rotate(-90deg);
}

.section-3-image {
  width: 100%;
  height: auto;
}

.section-3-title {
  /* position: absolute; */
  color: white;
  font-size: 3.5vw;
  width: 42vw;
  border-left: 0.4vw solid #630000;
  padding-left: 1vw;
}

.section-3-text {
  /* position: absolute; */
  color: white;
  font-size: 1.5vw;
  margin-top: 1%;
  width: 42vw;
  line-height: 1.6;

}

.position-text {
  width: 100%;
  margin-top: 19%;
  justify-content: center;
  align-items: center;
  position: absolute;
  display: flex;
  flex-direction: column;
}
