* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Cinzel', serif;
  /* font-family: 'Cinzel Decorative', cursive; */
}

@keyframes fade-in {
 from{opacity:0}
 to{opacity:1}
}

header {
  height: auto;
  background-color: black;
}

nav {
  width: 100%;
  height: 72px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  position: fixed;
  z-index: 5;

}

.search {
  width: 32px;
}

ul {
  margin-right: 60px;
  margin-top: 5px;
}

li {
  display: inline;
  margin: 30px;
}

a {
  text-decoration: none;
  font-size: 24px;
  color: white;
  padding: 4px 14px;
}

.menu-hover:hover {
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding-right:13px;
  padding-left: 13px;
}

.piano-1-position {
  padding-top: 72px;
}

.piano-1-image {
  width: 100%;
  height: auto;
}

.title {
  position: absolute;
  color: white;
  font-size: 2.15vw;
  margin-top: 7%;
  margin-left: 7%;
  line-height: 1.3;
  width: 43vw;
  animation:  fade-in 1s ease-in;
}

.title-2 {
  position: absolute;
  color: white;
  font-size: 5.5vw;
  margin-top: 14%;
  margin-left: 7%;
  line-height: 1;
  opacity: 0;
  animation: fade-in 1.2s ease-in forwards normal;
  animation-delay: 0.8s;
}

.container {
  display: flex;
}

.left-piano {
  width: 50%;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1.2vw;

}

.main-text {
  width: 23vw;
  border-left: 0.3vw solid black;
  padding-left: 1.2vw;
  margin-top: 14%;
  margin-left: 25%;
}

.right-text {
  color: white;
  border-left: 0.3vw solid white;
  width: 25vw;

}

.right-piano {
  width: 50%;
  height: auto;
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1.2vw;

}

.piano-2-image {
  width: 90%;
  height: auto;
  align-self: center;
}

.piano-3-image {
  width: 100%;
  height: auto;
}

.buy-text {
  color: black;
  font-size: 3.4vw;
  text-align: center;
}

img.arrow {
  width: 2.2vw;
  transform: rotate(-90deg);
}

.section-3-image {
  width: 100%;
  height: auto;
}

.section-3-title {
  color: white;
  font-size: 3.5vw;
  width: 44vw;
  border-left: 0.4vw solid #630000;
  padding-left: 2vw;
  line-height: 1.3;

}

.position-text {
  width: 100%;
  margin-top: 17%;
  justify-content: center;
  align-items: center;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.section-3-text {
  color: white;
  font-size: 1.65vw;
  margin-top: 1%;
  width: 44vw;
  line-height: 1.6;
}

.pedal-container {
  background-color: #630000;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.pedal {
  width: 68%;
  height: 100%;
}

.pedal-container p {
  line-height: 1.45;
  color: white;
  font-size: 2.1vw;
  padding: 5.2vw;
  margin-top: 7%;
}

.section-4-container {
  width: 100%;
  height: auto;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  line-height: 0;
}

.image-container {
  text-align: right;

}

.section-4-title-position {
  margin-left: 16vw;
  padding: 9% 0 4%;
}

.section-4-title {
  color: white;
  font-size: 3.5vw;
  width: 44vw;
  border-left: 0.4vw solid #630000;
  padding-left: 2vw;
  line-height: 1.3;
}

.section-4-image {
  width: 80%;
  height: 100%;
}

.section-4-position-text {
  width: 100%;
  margin-top: 20%;
  position: absolute;
}

.section-4-text {
  color: white;
  font-size: 2vw;
  width: 27vw;
  line-height: 1.6;
  text-align: left;
  margin-left: 16vw;
  text-shadow: 3px 0px 5px black;
}

.video {
  width: 100%;
}

.section-5-container {
  width: 100%;
  height: auto;
  color: white;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.video-text-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 4% 7vw;
}

.video-text {
  width: 50%;
  height: auto;
  font-size: 3.5vw;
  color: black;
  text-align: right;
  border-right: 0.4vw solid black;
  padding-right: 2.5vw;
}

/*split-view styling */
.hide-overflow {
  line-height: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.left-panel {
  height: auto;
  width: 100vw;
  position: relative;
  user-select: none;
}

.bg-left-panel {
  width: 100%;
  height: auto;
  user-select: none;
}

.right_panel {
  position: absolute;
  width: 35%;
  height: 100%;
  right: 0;
  padding-left: 4px;
  background-image: url('images/Whitepiano.png');
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: right;
  align-items: center;
  display: flex;
}


.right_panel::after, .right_panel::before {
  content: " ";
  background-color: white;
  position: absolute;
  left: 0;
  width: 0.25vw;
  height: 100%;
  cursor: ew-resize;
  bottom: 0;
}

.right_panel::before{
  background-color: transparent;
  z-index: 6;
  cursor: ew-resize;
}

.right_panel img {
  right: calc(100% - 2.5vw);
  bottom: 63%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: ew-resize;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  width: 4.8vw;
  height: 6.5%;
  color: white;
  z-index: 1;
  padding-bottom: 0px;
  user-select: none;
  padding: 0.6vw;
  box-shadow: 0px 0px 2px black;
}

.s-6-container {
  position: absolute;
  z-index: 1;
  padding-top: 8%;
  padding-left: 10vw;
}

.s-6-text {
  color: black;
  font-size: 3.5vw;
  width: 30vw;
  border-left: 0.5vw solid black;
  padding-left: 2vw;
}

.s-7-container {
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 0;
}

.footer-image-container {
  width: 55vw;
}

.footer-image {
  width: 55vw;
  height: auto;
}

.s-7-text {
  color: white;
  width: 45vw;
  margin-top: 9.5%;
  line-height: 1.35;
}

.s7-text1 {
  width: 27.5vw;
  margin: auto;
  font-size: 2.2vw;
  border-left: 0.4vw solid white;
  padding-left: 1.8vw;
}

.s7-text2 {
  font-size: 3.4vw;
  width: 28vw;
  margin: auto;
  margin-top: 8%;
}

footer {
  width: 100%;
  height: auto;
  background-color: rgb(35,35,35);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3% 0 1.5%;
}

.left-footer {
  width: 50%;
  color: white;
  font-size: 1.3vw;
}

.right-footer {
  width: 50%;
  color: white;
  text-align: right;
  font-size: 1.3vw;
}

.left-footer p {
  padding: 1vw;
  margin-left: 4vw;
}

.right-footer p {
  padding: 1vw;
  margin-right: 4vw;
}

.hidden-2 {
  display: none;
}

.menu-container {
  display: none;
}

.font-text-1 {
  font-size: 2.5vw;
}

.buy-div {
  margin-top: -12%;
  width: 100%;
  position: absolute;
  margin-top: -7.3%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-images {
  width: 2.9vw;
  padding-left: 1vw;
}

@media only screen and (max-width: 1120px) {

  .mobile-nav {
    display: flex;
    height: auto;
    justify-content: flex-end;
  }

  .hamburger-icon div {
    width: 32px;
    height: 3px;
    background-color: white;
    margin: 8px 2.5vw;
    transition: 0.6s;
  }

  .transform .bar-1 {
    transform: rotate(-45deg) translate(-8px, 7px);
  }

  .transform .bar-2 {
    opacity: 0;
  }

  .transform .bar-3 {
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .nav-ist__hidden {
    transform: translateX(100%);
  }

  .nav-ist__visible {
    transform: translateX(0%);
  }

  .nav-ist {
    transition: transform 500ms ease;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0, 0.8);
    position: absolute;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0px;
    align-items: center;
    list-style: none;
    padding: 2vh 10vh 24vh;
    margin-top: 58px;
  }

  .nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
  }

  .nav-link:hover {
    text-shadow: 0px 0px 4px white;
  }

  .hidden-1 {
    display: none;
  }

  .hidden-2 {
    display: initial;
  }

  nav {
    width: 100vw;
    height: 58px;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
  }

  .logo {
    width: 35px;
    left: 2vh;
    position: absolute;
  }

  .search {
    width: 26px;
  }

  ul {
    display: none;
  }

  .piano-1-position {
    padding-top: 60px;
  }

  .piano-1-image {
    margin-top: 18%;
  }

  .title {
    font-size: 5.4vw;
    margin-top: 13%;
    width: 70vw;
  }

  .title-2 {
    font-size: 8.4vw;
    margin-top: 43%;
  }

  .container {
    flex-direction: column;
  }

  .left-piano {
    width: 100%;
    font-size: 3.3vw;
  }

  .main-text {
    width: 63vw;
    border-left: 0.7vw solid black;
    padding-left: 2.7vw;
    margin-top: 15%;
    margin-left: 13%;
  }

  .font-text-1 {
    font-size: 7vw;
  }

  .right-text {
    border-left: 0.6vw solid white;
    width: 66vw;
  }

  .right-piano {
    width: 100%;
    font-size: 3.3vw;
  }

  .buy-text {
    color: white;
    font-size: 6vw;
    margin-left: -12vw;
  }

  .buy-text-2 {
    margin-left: -3.5vw;
  }

  img.arrow {
    width: 4.5vw;
    margin-left: -3vw;
  }

  .buy-div {
    margin-top: -14%;
  }

  .section-3-title {
    font-size: 5.7vw;
    width: 71vw;
    border-left: 0.7vw solid #630000;
    padding-left: 2.5vw;
    text-shadow: 1px 2px 8px black;
  }

  .position-text {
    margin-top: 31%;
  }

  .section-3-text {
    font-size: 2.9vw;
    margin-top: 2.5%;
    width: 71vw;
    line-height: 1.8;
    text-shadow: 1px 2px 8px black;
  }

  .pedal {
    width: 62%;
  }

  .pedal-container p {
    line-height: 1.7;
    font-size: 3vw;
    padding: 4vw;
    margin-top: 10%;
  }

  .section-4-title-position {
    margin-left: 6.7vw;
    padding: 12% 0 8%;
  }

  .section-4-title {
    font-size: 6vw;
    width: 70vw;
    border-left: 0.7vw solid #630000;
    padding-left: 3vw;
  }

  .section-4-image {
    width: 97%;
  }

  .section-4-position-text {
    margin-top: 40%;
  }

  .section-4-text {
    font-size: 3.1vw;
    width: 41vw;
    line-height: 1.7;
    margin-left: 6.7vw;
  }

  .video-text-container {
    padding: 5% 7vw;
  }

  .video-text {
    width: 70vw;
    font-size: 5.4vw;
    border-right: 0.6vw solid black;
    padding-right: 3vw;
  }

  .right_panel {
    width: 37%;
    background-image: url('images/Whitepiano_ss.png');
  }

  .right_panel::after, .right_panel::before {
    width: 0.4vw;
  }

  .right_panel img {
    right: calc(100% - 3.9vw);
    bottom: 55%;
    width: 7.6vw;
    height: 6.2%;
  }

  .s-6-container {
    padding-top: 12%;
    padding-left: 10vw;
  }

  .s-6-text {
    font-size: 5.2vw;
    width: 44vw;
    padding-left: 2.5vw;
  }


  .footer-image-container {
    width: 58vw;
  }

  .footer-image {
    width: 56vw;
  }

  .s-7-text {
    width: 42vw;
    margin-top: 13%;
  }

  .s7-text1 {
    width: 36vw;
    font-size: 3.1vw;
    border-left: 0.35vw solid white;
    padding-left: 2vw;
    margin-left: 1vw;
  }

  .s7-text2 {
    font-size: 5vw;
    width: 36vw;
    margin-left: 1vw;
    margin-top: 12%;
  }

  img.arrow-2 {
    margin-left: -0vw;
    margin-bottom: -1.8%;
  }

  footer {
    padding: 6% 0 4%;
  }

  .left-footer {
    font-size: 3.4vw;
  }

  .right-footer {
    font-size: 3.4vw;
  }

  .logo-footer {
    width: 40vw;
  }

  .link-images {
    width: 5vw;
  }
}
